* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
 margin: 0px;
 padding: 0px;
 font-family: 'Times New Roman', Times-serif; 
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #640D5F;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: bisque;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
   float: left;  
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;\
    font-size: 1000px;
}

nav ul li a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;

}

.contact-section {
    padding: 50px 0;
}
.contact-form {
    max-width: 600px;
    margin: auto;
}
.map-container {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}